<% if @ingredient.errors.any? %>
  <% @ingredient.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit ingredient #<%= @ingredient.id %>
</h1>

<hr>

<form action="/update_ingredient/<%= @ingredient.id %>" method="post">

  <div class="form-check">
    <input type="hidden" value="0" name="essential_flag">
    <input id="essential_flag" class="form-check-input" name="essential_flag" type="checkbox" value="1" <%= "checked" if @ingredient.essential_flag %>>
    <label for="essential_flag" class="form-check-label">
      Essential flag
    </label>
  </div>

  <div class="form-group">
    <label for="quantity">
      Quantity
    </label>

    <input type="text" id="quantity" name="quantity" class="form-control" value="<%= @ingredient.quantity %>">
  </div>

  <div class="form-group">
    <label for="measurement_units">
      Measurement units
    </label>

    <input type="text" id="measurement_units" name="measurement_units" class="form-control" value="<%= @ingredient.measurement_units %>">
  </div>

  <div class="form-group">
    <label for="item_id">
      Item
    </label>

    <%= select_tag(:item_id, options_from_collection_for_select(Item.all, :id, :name, @ingredient.item_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="recipe_id">
      Recipe
    </label>

    <%= select_tag(:recipe_id, options_from_collection_for_select(Recipe.all, :id, :source_website, @ingredient.recipe_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @ingredient.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update ingredient
  </button>
</form>

<hr>

<a href="/ingredients">
  Go back
</a>
