<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Ingredient #<%= @ingredient.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/ingredients" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link ingredient start -->
      <div class="col">
        <a href="/ingredients/<%= @ingredient.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit ingredient
        </a>
      </div>
      <!-- Edit link ingredient end -->

      <!-- Delete link ingredient start -->
      <div class="col">
        <a href="/delete_ingredient/<%= @ingredient.id %>" class="btn btn-block btn-outline-secondary">
          Delete ingredient
        </a>
      </div>
      <!-- Delete link ingredient end -->
    </div>

    <dl>
      <dt>
        Essential flag
      </dt>
      <!-- Display essential_flag start -->
      <dd>
        <%= @ingredient.essential_flag %>
      </dd>
      <!-- Display essential_flag end -->

      <dt>
        Quantity
      </dt>
      <!-- Display quantity start -->
      <dd>
        <%= @ingredient.quantity %>
      </dd>
      <!-- Display quantity end -->

      <dt>
        Measurement units
      </dt>
      <!-- Display measurement_units start -->
      <dd>
        <%= @ingredient.measurement_units %>
      </dd>
      <!-- Display measurement_units end -->

      <dt>
        Item
      </dt>
      <!-- Display item_id start -->
      <dd>
        <%= @ingredient.item_id %>
      </dd>
      <!-- Display item_id end -->

      <dt>
        Recipe
      </dt>
      <!-- Display recipe_id start -->
      <dd>
        <%= @ingredient.recipe_id %>
      </dd>
      <!-- Display recipe_id end -->

      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @ingredient.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@ingredient.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@ingredient.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
