<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Item #<%= @item.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/items" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/items/<%= @item.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit item
        </a>
      </div>

      <div class="col">
        <a href="/delete_item/<%= @item.id %>" class="btn btn-block btn-outline-secondary">
          Delete item
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @item.name %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @item.category %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@item.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@item.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "item_templates/item_recipe_details" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "item_templates/item_pantries" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "item_templates/item_categories" %>
  </div>
</div>
