<%= search_form_for @q, :class => collapse_search_form, :id => "pantries_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :expiration_date, "Expiration date" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='expiration_dategteqPicker' data-target-input="nearest">
          <%= f.text_field :expiration_date_gteq, :class => "form-control datetimepicker-input", :placeholder => "Expiration date greater than or equal to", :data => {:target => '#expiration_dategteqPicker'} %>
          <div class="input-group-append" data-target='#expiration_dategteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='expiration_datelteqPicker' data-target-input="nearest">
          <%= f.text_field :expiration_date_lteq, :class => "form-control datetimepicker-input", :placeholder => "Expiration date less than or equal to", :data => {:target => '#expiration_datelteqPicker'} %>
          <div class="input-group-append" data-target='#expiration_datelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#expiration_dategteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#expiration_datelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#expiration_dategteqPicker').on("dp.change", function (e) {
              $('#expiration_datelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#expiration_datelteqPicker').on("dp.change", function (e) {
              $('#expiration_dategteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :quantity_available, "Quantity available" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :quantity_available_gteq, :class => "form-control", :placeholder => "Quantity available greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :quantity_available_lteq, :class => "form-control", :placeholder => "Quantity available less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :available_flag_eq, "Available flag" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :available_flag_eq, "1", checked: ((params[:q] && params[:q][:available_flag_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :available_flag_eq, "0", checked: ((params[:q] && params[:q][:available_flag_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :available_flag_eq, ""%> Either
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :ingredient_name_cont, "Item name contains" %>
    <%= f.text_field :ingredient_name_cont, :class => "form-control", :placeholder => "Item name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :category_name_cont, "Category name contains" %>
    <%= f.text_field :category_name_cont, :class => "form-control", :placeholder => "Category name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :user_email_cont, "User email contains" %>
    <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/pantries" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#pantries_filters">
  Show filters
</a>
