<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All pantries
    </h1>

    <a href="/pantries/new" class="btn btn-block btn-outline-secondary">
      Add a new pantry
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "pantry_templates/pantries_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Item
        </th>

        <th>
          User
        </th>

        <th>
          Available flag
        </th>

        <th>
          Quantity available
        </th>

        <th>
          Category
        </th>

        <th>
          Expiration date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @pantries.each do |pantry| %>
      <tr>
        <td>
          <%= pantry.id %>
        </td>

        <td>
          <%= pantry.name %>
        </td>

        <td>
          <% if pantry.ingredient.present? %>
            <a href="/items/<%= pantry.ingredient.id %>">
              <%= pantry.ingredient.name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if pantry.user.present? %>
            <a href="/users/<%= pantry.user.id %>">
              <%= pantry.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= pantry.available_flag %>
        </td>

        <td>
          <%= pantry.quantity_available %>
        </td>

        <td>
          <% if pantry.category.present? %>
            <a href="/categories/<%= pantry.category.id %>">
              <%= pantry.category.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= pantry.expiration_date %>
        </td>

        <td>
          <%= time_ago_in_words(pantry.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(pantry.updated_at) %> ago
        </td>

        <td>
          <a href="/pantries/<%= pantry.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @pantries, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
